
.main-content {
    background: linear-gradient(180deg, rgba(197, 180, 218, 1) 20%, rgba(197, 180, 218, 1) 100%);
    min-height: 100vh; /* Imposta altezza minima per riempire lo schermo */
    width: 100vw; /* Imposta larghezza a 100% della viewport */
}

.dropdown-menu[data-bs-popper]{
    left: initial
}

.card {
    margin-bottom: 1rem; /* Distanza tra le schede */
}

.badge {
    margin-left: 0.5rem; 
    background-color:#0B303B !important;
}

.edit-btn{
    background-color: #0B303B;
    color: white;
}

.modalEdit{
    background-color: #0B303B;
    color: white;
}

.menuDropToggle {
    display: none;
}