
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&display=swap');


.custom-toolbar {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10px;

}

.custom-toolbar button {
    background-color: transparent;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.rbc-time-slot{
    font-family: "Montserrat", sans-serif;
    border: none;
}

.sectionToolbar {
    padding: 5px;
    border-radius: 5px;
}


@media (max-width: 1200px) {
    

    .datePicker{
        width: 100%;
    }

    .custom-toolbar button,
    .sectionToolbar {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .custom-toolbar {
        padding: 0.5rem; 
    }
    .datePicker{
        width: 100%;
    }
    .custom-toolbar button {
        padding: 5px; 
    }
}


@media (max-width: 480px) {
    .custom-toolbar {
        padding-inline: 1.5rem; 
    }

    .datePicker{
        width: 100%;
    }

    .custom-toolbar button {
        font-size: 1rem; 
        padding: 4px; 
    }

    .sectionToolbar {
        width: 100%;
        margin-right: 1.5rem;
        font-size: 1rem;
    }
}


@media (max-width: 350px) {
    .custom-toolbar {
        padding: 0.3rem; 
        
        align-items: stretch; 
    }

    .datePicker{
        width: 100%;
    }

    .custom-toolbar button {
        font-size: 1rem; 
        padding: 3px; 
    }

    .sectionToolbar {
        width: 100%;
        font-size: 1rem; 
    }
}


.calendar {
    width: 90vw; 
}


@media (max-width: 768px) {
    .calendar {
        width: 95vw; 
    }
}


@media (max-width: 350px) {
    .calendar {
        width: 100vw; 
    }
}
