

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f8f9fa;
    padding-inline: 2rem;
    transition: transform 0.3s ease-in-out, width 0.5s ease; /* Transizione per apertura/chiusura */
    z-index: 1000; /* Posizione sopra il contenuto */
  }
  
  .sidebar.open {
    
    font-size: 1rem;
    
  }
  .sidebar.open span {

    font-size: 1rem;
    
  }
  
  .sidebar.collapsed {
    width: 70px; 
    padding: 10px;
    
  }
  

  .logo {
    max-width: 250px;
    height: auto;
    
  }
 
  
  .sidebar.collapsed .logo {
    max-width: 50px; 
  }
  
  .menu__text {
    display: inline-block;
    
  }
  
  .sidebar.menu__text {
    opacity: 0;
    visibility: hidden;
  }
  
  
  .menu__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }
  
  .menu__item svg {
    transition: transform 0.3s ease;
  }
  
  .menu__item:hover {
    background-color: #bb99f171; 
  }
  
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 20vw; 
      padding: 10px;
    }
  
    .sidebar.collapsed {
        width: 12%; /* Riduce la larghezza per mostrare solo le icone */
        padding: 10px;
      }
  
    .toggle-button {
      display: block;
      position: fixed;
      top: 20px;
      left: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 1001;
    }
  }
  
  
  @media only screen and (max-width: 550px) {
    .sidebar {
      width: 60px; /* Sidebar compatta fino a 350px */
      padding: 10px;
    }
  
    .sidebar.collapsed {
        width: 40px; /* Riduce la larghezza per mostrare solo le icone */
        padding: 10px;
      }
  
    .menu__text {
      font-size: 10px;
    }
  
   
    .toggle-button svg {
      width: 25px;
      height: 25px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .sidebar {
      width: 60px; 
      padding: 10px;
    }
  
    .sidebar.collapsed {
        width: 40px; 
        padding: 10px;
      }
  
    .menu__text {
      font-size: 10px;
    }
  
   
    .toggle-button svg {
      width: 25px;
      height: 25px;
    }
  }
  
  

  @media only screen and (max-width: 350px) {
    .sidebar {
      width: 60px; 
      padding: 10px;
    }
  
    .sidebar.collapsed {
        width: 40px; 
        padding: 10px;
      }
  
    .menu__text {
      font-size: 10px;
    }
  
   
    .toggle-button svg {
      width: 25px;
      height: 25px;
    }
  }
