.toggle-button {

  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}



.toggle-button:hover {
  background-color: transparent;
  color:black;
}

/* Quando la sidebar è aperta, spostiamo il pulsante a destra per evitare che si sovrapponga */
.sidebar.open + .toggle-button {
  left: 270px; /* Lo spostiamo in modo che sia oltre la larghezza della sidebar */
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: -250px;  /* Nascondi la sidebar fuori dallo schermo inizialmente */
  top: 0;
  background-color: #f8f9fa;
  padding-inline: 2rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;  /* Posizione sopra il contenuto */
}

.sidebar.open {
  transform: translateX(250px);  /* Mostra la sidebar scorrendo da sinistra */
}

/* Logo */
.logo {
  max-width: 250px;
  height: auto;
  margin-top: 20px;
}


/* Elementi del menu */
.menu__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  transition: background-color 0.3s ease;
}

/* Hover sugli elementi del menu */
.menu__item:hover {
  background-color: #bb99f171; 
}

/* Testo del menu */
.menu__text {
  display: inline-block;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Pulsante per aprire e chiudere la sidebar */

/* Nascondere il testo quando la sidebar è chiusa */
.sidebar.collapsed .menu__text {
  opacity: 0;
  visibility: hidden;
}

/* Piccole dimensioni: sidebar più stretta e icone più piccole */
@media only screen and (max-width: 768px) {
  .sidebar {
      width: 200px; 
  }

  .toggle-button {
      left: 20px; /* Pulsante di toggle adattato */
  }
}

/* Ancora più stretta per schermi molto piccoli */
@media only screen and (max-width: 550px) {
  .sidebar {
     width: 203px;
      padding: 1rem;
  }

  .toggle-button svg {
      width: 100px;
      
}

/* Adattamento per schermi piccolissimi */
@media only screen and (max-width: 400px) {
  .sidebar {
      width: 203px;
      padding: 1rem;
  }

  .toggle-button svg {
      width: 100px;
      height: 20px;
  }
}
  

  @media only screen and (max-width: 350px) {
    .sidebar {
      width: 203px; 
      padding: 10px;
    }
  
    .sidebar.collapsed {
        width: 40px; 
        padding: 10px;
      }
  
    .menu__text {
      font-size: 10px;
    }
  
   
   
  }
}